.button {
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: var(--white);
  border: none;
  cursor: pointer;
  flex-shrink: 0;

  &.primary {
    background: var(--red);
  }

  &.secondary {
    background: var(--grey);
  }
}
