.body {
  --black: #222;
  --blue: steelblue;
  --grey: dimgray;
  --light-blue: steelblue;
  --red: tomato;
  --white: white;
  --box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);

  background: var(--light-blue);
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: Roboto, sans-serif;
  line-height: 1.4;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.loaderContainer {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
