.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > * {
  margin: 2rem;
}

.title {
  color: var(--white);
  font-family: "Chelsea Market", sans-serif;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: -0.35ex;
  text-shadow: 0.4em 0.4em 0.4em rgba(0, 0, 0, 0.1);
}

.githubLink {
  font-size: 2.5rem;
  margin: 1.5rem;
  color: var(--white);
  display: block;
  position: fixed;
  bottom: 0em;
  right: 0em;
  line-height: 0ex;
}
